
* {
    margin:0;
    padding:0;
    border:0;
    max-width:100%;
    border-spacing: 0;
}

#container{
    max-width: 1900px;
    height: 890px;
    background-image: url("../../assets/background.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.example-card {
    max-width: 380px;
    height: 700px;
    border: 1px solid #004aad;
    align-items: center;
    margin: 70px;
    position: relative;
}

.element-back{
    background-color: #004aad;
    width: 360px;
    height: 150px;
    position: relative;
}

.image-duo{
    width: 260px; 
    height: 260px; 
    border-radius: 5%;
    object-fit: cover; 
    margin-top: 20px;
    position: absolute;
}

.elements-container{
    text-align: center;
    align-items: center;
}

.name-title{
    font-weight: bold;
    font-size: xx-large;
    margin-top: 140px; 
}

.example-image-git{
    background-image: url('../../assets/icon_git.jpg');
    background-size: cover;
    margin: 0;
    margin-right: 20px;
}

.example-image-study{
    background-image: url('../../assets/icon_study.png');
    background-size: cover;
    margin: 0;
    margin-right: 20px;
}

.icons-container{
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.about-me{
    margin-top: 20px;
    background-color: #004aad;
    justify-content: center;
    color: aliceblue;
    font-size: x-large;
    width: 140px;
    display: inline-flex;
}

.text-presentation{
    margin-top: 15px;
    text-align: left;
    font-size: large;
}




