<div id="container">
  <mat-card class="example-card">
    
    <div class="element-back"></div>
    <img src="../../assets/Anderson.jpg" alt="Photo of a Shiba Inu" class="image-duo">
    
    <mat-card-content class="elements-container">
      <mat-card-title class="name-title">Anderson Armando</mat-card-title>

      <div class="icons-container">
        <div  mat-card-avatar  class = "example-image-study"></div>
        <p class="topic-text">Etec Prof. Horácio Augusto da Silveira</p>
      </div>

      <div class="icons-container">
        <div  mat-card-avatar  class = "example-image-git"></div>
        <p class="topic-text">Anderson-Armando</p>
      </div>

      <mat-card-title class="about-me">Sobre Mim</mat-card-title>
      
      <p class="text-presentation">
        Me chamo Anderson, tenho 18 anos, sou Estudante da Etec Horácio Augusto da Silveira, no curso de Desenvolvimento de Sistemas 
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>
        <a routerLink="/anderson-screen">Veja Mais!</a>
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    
    <div class="element-back"></div>
    
    <img src="../../assets/Isabella.jpg" class="image-duo">
    
    <mat-card-content class="elements-container">
      <mat-card-title class="name-title">Isabella Amaro</mat-card-title>

      <div class="icons-container">
        <div  mat-card-avatar  class = "example-image-study"></div>
        <p class="topic-text">Etec Prof. Horácio Augusto da Silveira</p>
      </div>

      <div class="icons-container">
        <div  mat-card-avatar  class = "example-image-git"></div>
        <p class="topic-text">isabellinhaa</p>
      </div>

      <mat-card-title class="about-me">Sobre Mim</mat-card-title>
      
      <p class="text-presentation">
        Me chamo Isabella, tenho 18 anos, sou Estudante da Etec Horácio Augusto da Silveira, no curso de Desenvolvimento de Sistemas 
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>
        <a routerLink="/isabella-screen">Veja Mais!</a>
      </button>
    </mat-card-actions>
  </mat-card>
  
</div>



