<div id="container">
    <mat-card class="example-card">

      <div class="element-back"></div>
      <img src="../../assets/Anderson.jpg" alt="Photo of a Shiba Inu" class="image-duo">

      <mat-card-content class="elements-container">
        <mat-card-title class="name-title">Anderson Armando</mat-card-title>

        <div class="icons-container">
          <div  mat-card-avatar  class = "example-image-study"></div>
          <p class="topic-text">Etec Prof. Horácio Augusto da Silveira</p>
        </div>

        <div class="icons-container">
          <div  mat-card-avatar  class = "example-image-git"></div>
          <p class="topic-text">Anderson-Armando</p>
        </div>

        <div class="icons-container">
            <div  mat-card-avatar  class = "example-image-local"></div>
            <p class="topic-text">São Paulo - Brasil</p>
        </div>

        <div class="icons-container">
            <div  mat-card-avatar  class = "example-image-contact"></div>
            <p class="topic-text">(11) 94394-7885</p>
        </div>

      </mat-card-content>
      <mat-card-actions class="buttons-router">
        <button mat-button class="router">
          <a routerLink="/">Voltar!</a>
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card infos">
        <mat-card-title class="title-icons">Linguagens já estudadas</mat-card-title>
        <div class="icons">
            <img height="40" width="50" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-plain.svg">
            <img height="40" width="50" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/typescript/typescript-plain.svg">
            <img height="40" width="50" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/react/react-original.svg">
            <img height="40" width="50" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original.svg">
            <img height="40" width="50" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original.svg">
            <img height="40" width="50" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg">
            <img height="40" width="50" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/csharp/csharp-original.svg">
        </div>

        <mat-card-title class="title-icons">Meios de Contato:</mat-card-title>
        <div class="social-links">
            <a href="https://instagram.com/_andersonarmando_" target="_blank" class="medias"><img src="https://img.shields.io/badge/-Instagram-%23E4405F?style=for-the-badge&logo=instagram&logoColor=white" target="_blank"></a>
            <a href = "mailto:arevalosanderson9@gmail.com" class="medias"><img src="https://img.shields.io/badge/-Gmail-%23333?style=for-the-badge&logo=gmail&logoColor=white" target="_blank"></a>
            <a href="https://www.linkedin.com/in/anderson-armando-4bb47a2a5/" target="_blank" class="medias"><img src="https://img.shields.io/badge/-LinkedIn-%230077B5?style=for-the-badge&logo=linkedin&logoColor=white" target="_blank"></a>
        </div>

        <mat-card-title class="title-icons">Um Pouco Sobre Mim:</mat-card-title>
        <p class="presentation">Meu nome é Anderson Armando Arevalos Espejo, tenho 18 anos e sou estudante da Etec Prof. Horácio Augusto da Silveira no curso Técnico de Desenvolvimento de Sistemas.
            Meu esporte preferido é o vôlei, jogo como Ponteiro. Toco 3 instrumentos musicais sendo eles: violão, guitarra e piano. Quando preciso fazer algo, sempre escuto Lagum
            ou alguma música do Vitor Kley. Minha matéria preferida é química e a minha
            matéria preferida do curso técnico é IPSSI.
        </p>
    </mat-card>
  </div>
